/*--- PLACE YOUR CUSTOM STYLES HERE ---*/

/*--- Background Images ---*/
.bg-shortcodes {
    background-image: url(../img/backgrounds/bg-shortcodes.jpg);
}
.bg-light {
    background-image: url(../img/backgrounds/bg-light.jpg);
}
.bg-shop {
    background-image: url(../img/backgrounds/bg-shop.jpg);
}
.bg-about-me {
    background-image: url(../img/backgrounds/bg-about-me.jpg);
}
.bg-restaurant-1 {
    background-image: url(../img/restaurant/bg-restaurant-1.jpg);
}
.bg-restaurant-2 {
    background-image: url(../img/restaurant/bg-restaurant-2.jpg);
}
.bg-pattern-1 {
    background-image: url(../img/backgrounds/bg-pattern-1.jpg);
}
.bg-pattern-2 {
    background-image: url(../img/backgrounds/bg-pattern-2.jpg);
}
.bg-pattern-3 {
    background-image: url(../img/backgrounds/bg-pattern-3.jpg);
}
.bg-pattern-4 {
    background-image: url(../img/backgrounds/bg-pattern-4.jpg);
}
.bg-music-1 {
    background-image: url(../img/music/bg-music-1.jpg);
}
.bg-photography-1 {
    background-image: url(../img/photography/bg-photography-1.jpg);
}
.bg-photography-2 {
    background-image: url(../img/photography/bg-photography-2.jpg);
}
.bg-photography-3 {
    background-image: url(../img/photography/bg-photography-3.jpg);
}
.bg-fitness-1 {
    background-image: url(../img/fitness/bg-fitness-1.jpg);
}
.bg-fitness-2 {
    background-image: url(../img/fitness/bg-fitness-2.jpg);
}
.bg-fitness-3 {
    background-image: url(../img/fitness/bg-fitness-3.jpg);
}
.bg-fitness-4 {
    background-image: url(../img/fitness/bg-fitness-4.jpg);
}
.bg-event-1 {
	background-image: url(../img/event/bg-event-1.jpg);
}
.bg-event-2 {
	background-image: url(../img/event/bg-event-2.jpg);
}
.bg-food-1 {
    background-image: url(../img/food/bg-food-1.jpg);
}
.bg-food-2 {
    background-image: url(../img/food/bg-food-2.jpg);
}
.bg-food-3 {
    background-image: url(../img/food/bg-food-3.jpg);
}
.bg-agency-1 {
	background-image: url(../img/agency/bg-agency-1.jpg);
}
.bg-agency-2 {
	background-image: url(../img/agency/bg-agency-2.jpg);
}
.bg-launching-1 {
    background-image: url(../img/launching/bg-launching-1.jpg);
}
.bg-launching-2 {
    background-image: url(../img/launching/bg-launching-2.jpg);
}
.bg-product-1 {
    background-image: url(../img/product/bg-product-1.jpg);
}
.bg-product-2 {
    background-image: url(../img/product/bg-product-2.jpg);
}
.bg-education-1 {
    background-image: url(../img/education/bg-education-1.jpg);
}
.bg-education-2 {
    background-image: url(../img/education/bg-education-2.jpg);
}
.bg-concepts-1 {
    background-image: url(../img/concepts/bg-concepts-1.jpg);
}
.bg-video-1 {
    background-image: url(../img/video/bg-video-1.jpg);
}
.bg-img-1 {
    background-image: url(../img/backgrounds/bg-1.jpg);
}
.bg-img-2 {
/*    background-image: url(../img/backgrounds/bg-2.jpg); */
    background-color:#fff;
}

.bg-img-brands {
    background-color:#fff;
}

@media(max-width:767px){
    .bg-img-brands {
        background-image: url(../img/assets/brands-bg.jpg);
    }
}


.bg-img-3 {
    background-image: url(../img/assets/truck-bg-l.jpg);
}
.bg-img-4 {
    background-image: url(../img/backgrounds/bg-4.jpg);
}
.bg-img-5 {
    background-image: url(../img/assets/truck-header.jpg);
}
.bg-img-6 {
    background-image: url(../img/assets/pillsnotepad.jpg);
}
.bg-img-7 {
    background-image: url(../img/assets/grocery.jpg);
}
.bg-img-8 {
    background-image: url(../img/backgrounds/bg-8.jpg);
}
.bg-img-9 {
    background-image: url(../img/backgrounds/bg-9.jpg);
}
.bg-img-10 {
    background-image: url(../img/backgrounds/bg-10.jpg);
}
.bg-img-11 {
    background-image: url(../img/backgrounds/bg-11.jpg);
}
.bg-img-12 {
    background-image: url(../img/backgrounds/bg-12.jpg);
}
.bg-img-13 {
    background-image: url(../img/backgrounds/bg-13.jpg);
}
.bg-img-14 {
    background-image: url(../img/backgrounds/bg-14.jpg);
}
.bg-img-15 {
    background-image: url(../img/backgrounds/bg-15.jpg);
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.dept {
    padding: 0;
    margin: 0;
}

.dept-icon {
    width:75px;
    height: auto;
}

.icon-user{
    width:48px;
    height: auto;
}

.icon-rx {
    width: 41px;
    height: auto;
    margin-bottom: -18px;
}

.dept-content {

    top: 30% !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dept-title > h3 {
    color:#fff;
    font-weight: 300;
    font-size: 2em;
}

.dept-img {
    width: 100%;
    height: 100%;
    background: rgba(1,1,1,.5);
    z-index: 2;
}

.dept-img {

}
.dept-img img {
    width:100%;
    vertical-align:top;
}
.dept-img:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.9);
    opacity:.5;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.dept-img:hover:after {
    background: #2a4795;
    opacity:.8;
}

.btn-outline {
    margin-top: 20px;
    border-color: #fff!important;
    border-width: 1px;
    font-weight: 100;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent!important;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #fff;
}

.btn-primary.btn-outline:hover {
    opacity: 1;
    color: #fff;
}

.facts {
    background-color: #2a4795!important;
}

.strengths-icon {
    width:100px;
    margin: 20px 0px;
}

.contact-icon {
    width:20px;
    margin-top: 6px;
}

@media(max-width:767px){
    .footer-center{
        text-align: center;
    }
}

.blue{
    color: #2a4795!important;
}
.grow{
    margin: 20px;
    z-index: 2;
}
.grow:hover{
    transform: scale(1.75,1.75);
    -webkit-transform: scale(1.75,1.75);
    -moz-transform: scale(1.75,1.75);
    -o-transform: scale(1.75,1.75);
    height: auto;
    transition: .5s all cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-    transition: .5s all cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: .5s all cubic-bezier(0.39, 0.575, 0.565, 1);
    -o-transition: .5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}
/*
.grow-expl:hover{
    transform: scale(1.5,1.5);
    height: auto;
    transition: .5s all cubic-bezier(0.39, 0.575, 0.565, 1);

}*/

grow-expl-bg{
display: none;
}

grow-expl-bg:hover{
display: block;
}
